<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mortaria</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="header">
        <div class="header-content">
            <h1 class="header-title">Mortaria</h1>
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Search...">
            </div>
            <div class="logo-container">
                <img src="path/to/your/logo.png" alt="Logo" class="header-logo" />
            </div>
        </div>
    </div>

    <div class="container-fluid d-flex flex-row">
        <div class="sidebar col-md-3 col-lg-2 d-md-block">
           <ul class="nav flex-column">
                <partial name="_LoginPartial" />
            </ul>
        </div>
        <div class="main-content col-md-9 col-lg-10">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="footer border-top text-muted bg-light">
        <div class="container">
            &copy; 2023 - Mortaria - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>  *@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
