@page
@model Mortaria.Areas.Identity.Pages.Account.maiCRM.ScheduleModel
@{
    ViewData["Title"] = "Schedule";
}

<h2>Schedule</h2>
<div class="mb-3">
    <a class="btn btn-primary" asp-page="./AddAppointment">Add Appointment</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Date</th>
            <th>Time</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model.Appointments)
        {
            <tr>
                @foreach (var customer in Model.Customers){
                    if (customer.Id == appointment.CustomerId){
                        <td>@customer.AccountName</td>
                    }
                }
                <td>@appointment.Date.ToShortDateString()</td>
                <td>@appointment.Time</td>
                <td>@appointment.Description</td>
            </tr>
        }
    </tbody>
</table>


