@{
    ViewData["Title"] = "Home Page";
}
<head>
</head>

<body>
  <div class="section-container">
    <div id='calendar'>@await Component.InvokeAsync("Calendar")</div>
    <!-- <div class="calendar__footer" id="finances">Finances</div> -->
  </div>


</body>
<script src="~/js/home.js"></script>