/* .section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  } 
  
  .section {
    width: 30%;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 1em;
    padding: 1em;
    position: relative;
  } 
  
  .section:hover {
    cursor: pointer;
    background-color: #eee;
  } 
  
  #calendar {
    max-width: 900px;
    margin: 0 auto;
}   */