@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

a:visited{
  color: inherit;
}

a:link {
  text-decoration: none;
}

a.active{
  color: rgba(100,21,255,1);
}

.container{
  padding-left: 16px;
  padding-right: 16px;
}

.row{
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
}

/* body {
  padding-top: 24px;
  padding-bottom: 24px;
} */

.midsection__container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.container__fluid{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

/* Navbar */
.sidebar {
  height: 100%;
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  /* overflow-x: hidden; */
  padding-right: 16px;
  padding-left: 16px;
  background-color: whitesmoke;
}

.nav{
  padding-top: 24px;
}

.nav__link {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 8px;
  margin: 0; /* Remove any additional margin */
  list-style-type: none;
  font-size: 16px;
  font-weight: 400;
  transition: all 600ms ease;
  letter-spacing: 1px;
}

.nav__item:hover .nav__link{
  cursor: pointer;
  text-underline-offset: 8px;
  color: rgba(100,21,255,1);
}

.nav__item:hover .icon{
  cursor: pointer;
  text-underline-offset: 8px;
  color: rgba(100,21,255,1);
}

.navbar-nav{
  list-style-type: none;
}

.nav__item{
  display: flex;
  flex-direction: row;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #7C8BA1;
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.main__content {
  /* margin-top: 4rem; */
  /* margin-left: 240px;  */
  /* Adjust this value according to the width of your sidebar */
  /* padding-right: 0; */
  /* Add this line to stretch the main content based on the width of the sidebar */
  /* width: calc(100% - 240px);  */
  width: 100%;
  height: calc(100vh - 110px);
  margin-left: 240px;
}

/* Header */
.header {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

#landing__header{
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__logo {
  width: 50px; /* Adjust the size as needed */
  height: auto;
}

.header__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: auto 0;
  max-width: 1440px;
  width: 100%;
}

.header__title:hover{
  cursor: pointer;
  color: whitesmoke;
}

.header__title {
  font-size: 2rem; /* Adjust the size as needed */
  font-weight: bold;
  transition: all 600ms ease;
  margin-bottom: 36px;
  margin-top: 36px;
  text-align: center;
  color: rgba(100,21,255,1);
}

.search__container {
  /* width: 50%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: all 400ms ease;
}

.search__input{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  font-size: 16px;
  transition: all 600ms ease;
}

.search__container:hover .search__input{
  border: solid rgba(100,21,255,1);
}


.logo__container {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.icon{
	color: black;
	width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 600ms ease;
}

.calendar__container{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
}

/* .pb-3{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
} */

.section-container{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
}

#calendar{
  width: 100%;
}


.logout__button{
  display: flex;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: .5rem;
  padding-right: 84px;
  background: rgba(100,21,255,1);
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 400;
  transition: all 400ms ease;
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 16px;
  margin-top: 16px;
}

.logout__button:hover{
  transform: scale(1.03);
  cursor: pointer;
  filter: brightness(80%);
}

.darkmode__icon:visited{
    color: inherit;
}

.dark-theme .header__title{
  color: rgba(100,21,255,1);
}

.dark-theme .nav__link,
.dark-theme .pricing__heading--para,
.dark-theme .container,
.dark-theme .main__content,
.dark-theme .icon
{
    color: #b3b3b3;
}

.dark-theme .sidebar{
  background-color: #121212;
}

.dark-theme .midsection__container,
.dark-theme #landing__header,
.dark-theme .container{
  background-color: #181818;
}

.dark-theme .search__input,
.dark-theme .form__input--field{
  background-color: #404040;
}

.dark-theme .plan__left,
.dark-theme .plan__right{
  background-image: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}
.dark-theme .plan__right{
  background-image: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%)
}

.dark-theme .button__buy-3,
.dark-theme .button__buy-1{
  background: white;
}

.dark-theme .plan__top,
.dark-theme .plan__middle{
  color: white;
}

.dark-theme .button__buy-1{
  color: rgba(56, 178, 172, 0.55);
}

.dark-theme .button__buy-3{
  color: rgba(254, 178, 178, 1);
}

.dark-theme .info__header--subtitle,
.dark-theme .form-label,
.dark-theme #forgot-password,
.dark-theme #register-account,
.dark-theme #resend-confirmation,
.dark-theme .pricing__heading--title,
.dark-theme .steps__heading--title,
.dark-theme .step__title,
.dark-theme .values__principles--title{
  color: #b3b3b3;
}